.footer {
	max-width: 800px !important;
	margin: auto;
	margin-top: auto;
}

.card {
	box-shadow: 2px 2px 10px #e8e4e1;
}

.card-title-sub {
	font-size: 18pt !important;
	font-family: OpenSans-Regular;
}

.card-text {
	font-size: 13pt;
}
