.NavBar {
	box-shadow: 0px 3px 3px #f2f2f2;
	margin-bottom: 40px;
}

h1 {
	font-family: OpenSans-Light;
	font-size: 28pt;
	margin: 0;
	padding: 0;
}

.link {
	margin: 0 15px;
	text-decoration: none;
	color: black;
}

.title-link {
	text-decoration: none;
	color: black;
}
