.Hero {
	height: 600px;
	background-image: url("../../assets/images/blue4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 50px;
	border-radius: 30px;
}

h2 {
	font-family: Montserrat-Regular;
	font-size: 50pt;
	color: white;
}

.hero-p {
	color: white;
}

.random-btn {
	margin: auto;
}
