.container {
	max-width: 960px;
}

.card {
	box-shadow: 2px 2px 10px #e8e4e1;
}

.hero-card {
	background-image: url("../../assets/images/blue4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	padding: 0 4%;
}

.cta {
	font-family: Montserrat-Regular;
	font-size: 50pt;
	color: white;
}

.card-title-sub {
	font-size: 18pt !important;
	font-family: OpenSans-Regular;
}

.card-text {
	font-size: 13pt;
}
